In [7]:
import numpy as np
from sklearn import preprocessing , cross_validation , neighbors , svm
import pandas as pd

In [4]:
df  = pd.read_csv('DS_Practice/breast-cancer-wisconsin.data.txt')

In [5]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell,bare_nuclie,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [6]:
df.replace('?' , -99999 , inplace = True)

In [7]:
df.drop(['id'] , 1 , inplace = True)

In [8]:
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell,bare_nuclie,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [10]:
X = np.array(df.drop(['class'] , 1))
y = np.array(df['class'])

In [11]:
X_train , X_test , y_train , y_test = cross_validation.train_test_split(X,y,test_size = 0.2)

In [12]:
clf = neighbors.KNeighborsClassifier()

In [13]:
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [14]:
acc = clf.score(X_test , y_test)

In [15]:
print(acc)

0.9714285714285714

SVM

In [8]:
data = pd.read_csv('DS_Practice/breast-cancer-wisconsin.data.txt')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
id                   699 non-null int64
clump_thickness      699 non-null int64
unif_cell_size       699 non-null int64
unif_cell_shape      699 non-null int64
marg_adhesion        699 non-null int64
single_epith_cell    699 non-null int64
bare_nuclie          699 non-null object
bland_chrom          699 non-null int64
norm_nucleoli        699 non-null int64
mitoses              699 non-null int64
class                699 non-null int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB

In [10]:
data.replace('?' , -99999 , inplace = True)
data.drop(['id'] , 1 , inplace = True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
clump_thickness      699 non-null int64
unif_cell_size       699 non-null int64
unif_cell_shape      699 non-null int64
marg_adhesion        699 non-null int64
single_epith_cell    699 non-null int64
bare_nuclie          699 non-null object
bland_chrom          699 non-null int64
norm_nucleoli        699 non-null int64
mitoses              699 non-null int64
class                699 non-null int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [12]:
X = data.drop(['class'] , 1)
y = data['class']

In [13]:
X_train , X_test , y_train , y_test =  cross_validation.train_test_split(X,y,test_size = 0.2)

In [14]:
mod = svm.SVC()

In [15]:
mod.fit(X_train , y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
print(mod.score(X_test , y_test))

0.9357142857142857

In [17]:
print(mod.score(X_test , y_test))

0.9357142857142857